<div id="teas-index">
  <div class="row">
    <div class="col s12">
      <ul class="tabs teal lighten-5">
        <li class="tab col s3"><a class="active" href="#black-teas">Black Teas</a></li>
        <li class="tab col s2"><a href="#green-teas">Green Teas</a></li>
        <li class="tab col s2"><a href="#white-teas">White Teas</a></li>
        <li class="tab col s2"><a href="#chai-teas">Chai Teas</a></li>
        <li class="tab col s3"><a href="#oolong-teas">Oolong Teas</a></li>
      </ul>
    </div>
  </div>
  <div id="teas" class="container">
    <%= render partial: 'teas/shared/index_black_tea' %>
    <%= render partial: 'teas/shared/index_green_tea' %>
    <%= render partial: 'teas/shared/index_white_tea' %>
    <%= render partial: 'teas/shared/index_chai_tea' %>
    <%= render partial: 'teas/shared/index_oolong_tea' %>
  </div>
</div>
