<div id="client-index">
  <div id="clients" class="container">
    <div class="card">
      <div class="car-content">
        <table class="centered highlight">
          <thead>
            <th>Code</th>
            <th>Name</th>
            <th>Email</th>
            <th>Country</th>
            <th>Orders</th>
          </thead>
          <tbody>
            <% @clients.each do |client| %>
            <tr>
              <td><%= client.id %></td>
              <td><%= client.name %></td>
              <td><%= client.email %></td>
              <td><%= client.country %></td>
              <td><%= link_to '<i class="material-icons">shopping_basket</i>'.html_safe, client_orders_path( client.id ), class: "waves-effect waves-light btn" %></td>
              <td><%= link_to '<i class="material-icons">visibility</i>'.html_safe, client_path( client.id ), class: "waves-effect waves-light btn" %></td>
              <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_client_path( client.id ), class: "waves-effect waves-light btn" %></td>
              <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, client_path( client.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s12">
            <%= link_to 'New Client', new_client_path, class: "waves-effect waves-light btn" %> <%= link_to 'Back To Home', home_path, class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
