<div id="order-index">
  <div id="orders" class="container">
    <div class="card">
      <div class="car-content">
        <table class="centered highlight">
          <thead>
            <th>Code</th>
            <th>Client</th>
            <th>Total To Pay</th>
            <th>Ordered Teas</th>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><%= order.id %></td>
              <td><%= order.client.name %></td>
              <td><%= number_to_currency( order.total_price, unit: '$ ' ) %></td>
              <td>
                <% order.teas.each do |tea| %>
                  <%= "#{ tea.name } ( #{ tea.ordered_quantity } )" %></br>
                <% end %>
              </td>
              <td><%= link_to '<i class="material-icons">visibility</i>'.html_safe, client_order_path( order.client.id, order.id ), class: "waves-effect waves-light btn" %></td>
              <td><%= link_to '<i class="material-icons">edit</i>'.html_safe, edit_client_order_path( order.client.id, order.id ), class: "waves-effect waves-light btn" %></td>
              <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, client_order_path( order.client.id, order.id ), method: :delete, data: { confirm: 'Are you sure?' }, class: "waves-effect waves-light btn" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <div class="row">
          <div class="col s12">
            <%= link_to 'Register an Order', new_client_order_path( @origin_client.id ), class: "waves-effect waves-light btn" %> <%= link_to 'Back To Clients', clients_path, class: "waves-effect waves-light btn" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
