<div class="container">
  <div class="card">
    <%= simple_form_for @order do |form| %>
      <div class="card-content">
        <div class="row">
          <div class="col s6">
            <%= form.input :id, label: 'Code', disabled: true %>
          </div>
          <div class="col s6">
            <%= form.input :total_price, label: 'Total to Pay', disabled: true %>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="card-content">
        <h5 class="subheader">Order's Teas</h5>
        <table class="highlight centered">
          <thead>
            <th>Tea Name</th>
            <th>Price</th>
            <th>Ordered Quantity</th>
            <th></th>
          </thead>
          <tbody>
            <% @order.teas.each do |tea| %>
              <tr>
                <td><%= tea.name %></td>
                <td><%= number_to_currency( tea.price, unit: '$ ' ) %></td>
                <td><%= tea.ordered_quantity %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="card-action">
        <%= link_to 'Edit', edit_order_path( @order.id ), class: 'waves-effect waves-light btn' %>
        <%= link_to 'Back', orders_path, class: 'waves-effect waves-light btn' %>
      </div>
    <% end %>
  </div>
</div>
