<!DOCTYPE html>
<html>
  <head>
    <title>Teastore</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script>
      var notify = function() {
        if( '<%= alert %>' ) {
          Materialize.toast( '<%= alert %>', 4000 )
        }

        if( '<%= notice %>' ) {
          Materialize.toast( '<%= notice %>', 4000 )
        }
      }
    </script>
  </head>

  <body onload="notify();">
    <%= render 'layouts/shared/navbar' %>
    <%= yield %>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
  </body>
</html>
